  
name: lint+compile+test
on:
  push

jobs:
  coverage:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: setup-node
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: install yarn
        run: npm install yarn
      - name: install packages
        run: yarn
      - name: lint
        run: yarn lint
      - name: compile
        run: yarn compile
        env:
          INFURA_PROJECT_ID: ${{ secrets.INFURA_PROJECT_ID }}
          DEV_MNEMONIC: ${{ secrets.DEV_MNEMONIC }} 
      - name: test
        run: yarn test --no-compile
        env:
          INFURA_PROJECT_ID: ${{ secrets.INFURA_PROJECT_ID }}
          DEV_MNEMONIC: ${{ secrets.DEV_MNEMONIC }}       
